<div class="row">
  <div class="col-lg-12">
    <h1>Listagem de Categorias</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <td colspan="5">
                    <!-- <button type="button" class="btn btn-primary" (click)="dashboardInsertService.showModalInsert()"> -->
                    <button type="button" class="btn btn-primary" (click)="categoryInsertService.showModalInsert()">
                        Nova Categoria
                    </button> 
                </td>
            </tr>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 50%">Nome</th>
                <th style="width: 15%">Ativo?</th>
                <th style="width: 15%">Criado Em</th>
                <th style="width: 15%">Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let person of people | paginate: {itemsPerPage: 5, currentPage: pagination.page, totalItems: pagination.totalItems}"> -->
            <tr *ngFor="let category of categories | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems}">
            <!-- <tr *ngFor="let category of categories"> -->
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <i class="fas" [ngClass]="{'fa-check': category.active, 'fa-times': !category.active}"></i>
                    <!-- <i class="fas fa-check"></i> -->
                </td>
                <td>{{ category.created_at.date | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <!-- Editar | Excluir -->
                    <!-- <a href="javascript:void(0)" (click)="dashboardEditService.showModalEdit(person.id)"> -->
                        <!-- <i class="fas fa-edit"></i> -->
                    <!-- </a> |  -->
                    <a href="javascript:void(0)" (click)="categoryEditService.showModalEdit(category.id)">
                        <i class="fas fa-edit"></i>
                    </a> | 
                    <!-- <a href="javascript:void(0)" (click)="dashboardDeleteService.showModalDelete(person.id)"> -->
                        <!-- <i class="fas fa-trash-alt"></i> -->
                    <!-- </a> -->
                    <a href="javascript:void(0)" (click)="categoryDeleteService.showModalDelete(category.id)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)"
        previousLabel="Anterior"
        nextLabel="Próximo"></pagination-controls>
  </div>
</div>

<category-new-modal 
    (onSuccess)="categoryInsertService.onInsertSuccess($event)"
    (onError)="categoryInsertService.onInsertError($event)"></category-new-modal>
<category-edit-modal
    [categoryId]="categoryId"
    (onSuccess)="categoryEditService.onEditSuccess($event)"
    (onError)="categoryEditService.onEditError($event)"></category-edit-modal>
<category-delete-modal
    [categoryId]="categoryId"
    (onSuccess)="categoryDeleteService.onDeleteSuccess($event)"
    (onError)="categoryDeleteService.onDeleteError($event)"></category-delete-modal>

<!-- <form (submit)="submit()">
    <modal (onHide)="hideModal($event)" (onSuccess)="onInsertSuccess($event)">
        <h1 modal-title>Nova Categoria</h1>
        <div modal-body>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Informe o nome" required
                    [(ngModel)]="category.name">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="is_active" name="is_active" required
                    [(ngModel)]="category.active">
                <label for="is_active">Ativo?</label>
            </div>
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Incluir</button>
        </div>
    </modal>
</form> -->
<!-- <category-new-modal></category-new-modal> -->