<!--The content below is only a placeholder and can be replaced.-->
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="http://localhost:4200/categories/list">Categorias</a> | 
                <a href="http://localhost:4200/products/list">Produtos</a> | 
                <a href="http://localhost:4200/users/list">Usuários</a> | 
                <a href="javascript:void(0)" style="color: #000">{{authService.me?.name}}</a>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>
</main>


